<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Service list</title>

    <link href="/images/shortcut_icon.png" rel="shortcut icon" type="image/png"/>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/bootstrap-toggle/css/bootstrap2-toggle.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/custom_styles/header.css" rel="stylesheet" type="text/css">
    <link href="/plugins/custom_styles/sidebar.css" rel="stylesheet" type="text/css">
    <link href="/plugins/custom_styles/content.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
          rel="stylesheet">
</head>

<body>
<div class="wrapper toggled">

    <div th:replace="fragments/admin/sidebar :: sidebar"></div>
    <div th:replace="fragments/admin/header :: header(${title})"></div>

    <main class="content mb-5">
        <div class="custom-form">
            <form action="" id="form_filter" method="post">
                <div class="row" style="padding-right: 15px;">
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label>Сервис ID</label>
                            <input type="text"
                                   class="form-control"
                                   name="service_id"
                                   th:value="${service_id}"
                                   id="input_merchant_id">
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label>Имя сервиса</label>
                            <input type="text"
                                   class="form-control"
                                   name="name"
                                   th:value="${name}"
                                   id="input_merchant_name">
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label style="width: 100%;">Проверить fraud</label>
                            <input class="form-control" data-height="25"
                                   data-off="Неактивный"
                                   data-offstyle="secondary"
                                   data-on="Активный" data-onstyle="primary"
                                   data-toggle="toggle"
                                   data-width="130"
                                   style="display: contents;"
                                   name="check_fraud"
                                   th:checked="${check_fraud}"
                                   type="checkbox"
                            >
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label style="width: 100%;">Проверить прокуратура</label>
                            <input class="form-control" data-height="25"
                                   data-off="Неактивный"
                                   data-offstyle="secondary"
                                   data-on="Активный" data-onstyle="primary"
                                   data-toggle="toggle"
                                   data-width="130"
                                   style="display: contents;"
                                   name="check_p"
                                   th:checked="${check_p}"
                                   type="checkbox"
                            >
                        </div>
                    </div>

                    <input id="input_page" name="page" th:value="${page}" type="hidden">

                    <div class="clearfix"></div>

                    <hr class="form-control">

                    <div class="col-12 d-flex">
                        <button class="btn-reset" onclick="clearForm()" type="button">Cбросить</button>
                        <button class="btn-ready" type="submit">Готово</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="data-list">
            <table class="table mb-0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя сервиса</th>
                    <th>Проверить fraud</th>
                    <th>Проверить прокуратура</th>
                    <th class="action-column">
                        <span class="fa fa-ellipsis-h d-flex justify-content-center"
                              style="font-size: 1.5em;"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service , index :${service_list}">
                    <td><span th:text="${service.id}">1</span></td>
                    <td><span th:text="${service.name}">1</span></td>
                    <td>
                        <div th:if="${service.getCheckFraud()}">
                            <span class="dot-active"></span>
                            <span> Активный</span>
                        </div>
                        <div th:if="${!service.getCheckFraud()}">
                            <span class="dot-inactive"></span>
                            <span> Неактивный</span>
                        </div>
                    </td>
                    <td>
                        <div th:if="${service.getCheckP()}">
                            <span class="dot-active"></span>
                            <span> Активный</span>
                        </div>
                        <div th:if="${!service.getCheckP()}">
                            <span class="dot-inactive"></span>
                            <span> Неактивный</span>
                        </div>
                    </td>
                    <td>
                        <form action="edit" class="d-flex justify-content-center" method="post">
                            <button class="edit-item-btn" name="id" th:value="${service.id}" type="submit">
                                <span class="fa fa-edit fa-lg"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="custom-pagination">
            <div class="mr-auto mb-3">
                <span class="ml-3 pagination-info"
                      th:text="'Записи с ' + ${from_index} + ' до ' + ${to_index} + ' из ' + ${total_count} + ' записей'">
                    >
                    Записи с 1 до 20 из 25 записей
                </span>
            </div>
            <ul class="pagination">
                <li class="paginate_button" th:each="p , index :${left_pages}">
                    <a href="javascript:void(0)"
                       th:text="${p}">2</a>
                </li>
                <li class="paginate_button active">
                    <a href="javascript:void(0)"
                       th:text="${page}">
                        3
                    </a>
                </li>
                <li class="paginate_button" th:each="p , index :${right_pages}">
                    <a href="javascript:void(0)"
                       th:text="${p}">2</a>
                </li>
            </ul>
        </div>
    </main>
</div>
<script src="/plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="/plugins/popper/popper.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/select2/select2.min.js"></script>
<script src="/plugins/bootstrap-toggle/js/bootstrap2-toggle.min.js"></script>
<script src="/plugins/custom_js/main.js"></script>

<script>
    function deleteMerchant(merchantId) {
        $.post("delete", {merchant_id: merchantId})
            .done(function (data) {
                console.log(data)
                if (data.success) {
                    alert("Deleted")
                    location.reload()
                } else {
                    alert(data.message)
                }
            });
    }

    function activateMerchant(merchantId) {
        $.post("activate", {merchant_id: merchantId})
            .done(function (data) {
                console.log(data)
                if (data.success) {
                    alert("Activated")
                    location.reload()
                } else {
                    alert(data.message)
                }
            });
    }
</script>
</body>
</html>