<section
        th:fragment="content_header"
        xmlns:th="http://www.thymeleaf.org"
        class="content-header">

    <h1 th:text="${title}">
        Merchant list
    </h1>

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img th:src="@{/dist/img/user2-160x160.jpg}" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">Alexander Pierce</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image">

                        <p>
                            Alexander Pierce
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-right">
                            <a href="#" class="btn btn-default btn-flat">Выход</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>