<aside
        class="sidebar"
        th:fragment="sidebar"
        xmlns:th="http://www.thymeleaf.org">

    <section>
        <!-- sidebar-brand  -->
        <div class="sidebar-brand">
            <strong>Olcha uz</strong>
        </div>
        <input type="text" hidden th:value="${active_sidebar_item}" id="active_sidebar_number">
        <div>
            <ul data-widget="tree">
                <li id="first_li">
                    <a th:href="@{/api/admin/category/list}">
                        <i class="fa fa-circle-o"></i><span>category</span>
                    </a>
                </li>
                <li id="second_li">
                    <a th:href="@{/api/admin/product/list}">
                        <i class="fa fa-circle-o"></i><span>товар</span>
                    </a>
                </li>

                <li id="third_li">
                    <a th:href="@{/admin/orders/list}">
                        <i class="fa fa-circle-o"></i><span>заказы</span>
                    </a>
                </li>
                <li id="fifth_li">
                    <a th:href="@{/admin/user/list}">
                        <i class="fa fa-circle-o"></i><span>Пользователи</span>
                    </a>
                </li>
                <li id="tenth_li">
                    <a style="color: red;" th:href="@{/logout}">
                        <i class="fa fa-circle-o"></i> <span>Выход</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</aside>