<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Suspicious transaction list</title>

    <link href="/images/shortcut_icon.png" rel="shortcut icon" type="image/png" />
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/custom_styles/header.css" rel="stylesheet" type="text/css">
    <link href="/plugins/custom_styles/sidebar.css" rel="stylesheet" type="text/css">
    <link href="/plugins/custom_styles/content.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
        rel="stylesheet">
</head>

<body>
    <div class="wrapper toggled">

        <div th:replace="fragments/admin/sidebar :: sidebar"></div>
        <div th:replace="fragments/admin/header :: header(${title})"></div>

        <div hidden id="loading">
            <img alt="Loading..." id="loading-image" src="/images/spinner.gif" />
        </div>

        <main class="content pb-5">
            <div class="custom-form">
                <form action="" id="form_filter" method="post">
                    <div class="row" style="padding-right: 15px;">
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label>С даты</label>
                                <span class="date-pick input-group">
                                    <input class="form-control pull-right" id="s_dt_from" name="from_date"
                                        th:value="${from_date}" type="text">
                                    <span class="input-group-text px-2"><i class="fa fa-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label>На дату</label>
                                <span class="date-pick input-group">
                                    <input class="form-control pull-right" id="s_dt_to" name="to_date"
                                        th:value="${to_date}" type="text">
                                    <span class="input-group-text px-2"><i class="fa fa-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label>Interhub тран.ID</label>
                                <input class="form-control" id="input_transaction_id" name="transaction_id"
                                    th:value="${transaction_id}" type="text" onfocusout="resetColorToDefault(event)"
                                    oninput="alertOnNotNumberInput(event)" value="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label>Аккаунт</label>
                                <input class="form-control" id="input_login" name="account" th:value="${account}"
                                    type="text" value="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label>Статус</label>
                                <select class="form-control" id="select_status" name="status">
                                    <option value="">Все</option>
                                    <option th:selected="${status == 0}" value="0">OK</option>
                                    <option th:selected="${status == 1}" value="1">DANGER FRAUD</option>
                                    <option th:selected="${status == 2}" value="2">DAILY TRANSACTION COUNT EXCEEDED
                                    </option>
                                    <option th:selected="${status == 3}" value="3">PER TRANSACTION AMOUNT EXCEEDED
                                    </option>
                                    <option th:selected="${status == 4}" value="4">DAILY AMOUNT EXCEEDED</option>
                                    <option th:selected="${status == 5}" value="5">UNKNOWN MERCHANT</option>
                                    <option th:selected="${status == 7}" value="7">DUPLICATED TRANSACTION</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label>Агент</label>
                                <select class="form-control" name="agent_id">
                                    <option value="-1">Все</option>
                                    <option th:each="agent , index :${agent_list}" th:selected="${agent.id == agent_id}"
                                        th:text="${agent.name}" th:value="${agent.id}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label>Сервис</label>
                                <select class="form-control select2" name="service_id">
                                    <option value="-1">Все</option>
                                    <option th:each="service , index :${service_list}"
                                        th:selected="${service.id == service_id}" th:text="${service.name}"
                                        th:value="${service.id}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <input id="input_page" name="page" th:value="${page}" type="hidden">

                        <div class="clearfix"></div>

                        <hr class="form-control">

                        <div class="col-12 d-flex">
                            <button class="btn-reset" onclick="clearForm()" type="button">Cбросить</button>
                            <button class="btn-ready" type="submit">Готово</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="data-list">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Interhub тран.ID</th>
                            <th>Агент</th>
                            <th>Сервис</th>
                            <th>Аккаунт</th>
                            <th>Время</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th class="action-column">
                                <span class="fa fa-ellipsis-h d-flex justify-content-center"
                                    style="font-size: 1.5em;"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaction , index :${transaction_list}">
                            <td><span th:text="${transaction.id}">1</span></td>
                            <td style="width: 10rem;"><span th:text="${transaction.transactionId}">1</span></td>
                            <td><span th:text="${transaction.agent.name}"></span></td>
                            <td><span th:text="${transaction.service?.name}"></span></td>
                            <td><span th:text="${transaction.account}"></span></td>
                            <td style="width: 10rem;"><span th:text="${transaction.getFormattedDate()}"
                                    id="date"></span></td>
                            <td><b><span th:text="${transaction.amountFormattedWithTiyin}"></span></b></td>
                            <td class="fit-content">
                                <span th:style="'color:' + ${transaction.statusColor} + '; display: block;'"
                                    th:text="${transaction.statusName}" class="white-space-normal"></span>
                            </td>
                            <td>
                                <div class="btn-group action-menu">
                                    <a data-toggle="dropdown" href="javascript:void(0)">
                                        <i class="fa fa-ellipsis-v d-flex justify-content-center"></i>
                                    </a>
                                    <ul class="dropdown-menu" style="transform: translate3d(1219px, 366px, 0px);">
                                        <li>
                                            <button class="btn-edit" data-target="#approve_modal" data-toggle="modal"
                                                id="white-button" style="margin: .3rem;"
                                                th:onclick="'performMultiAction(' + ${transaction.id} + ', 'ad');'">Add
                                                to white
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn-reset" data-target="#approve_modal" data-toggle="modal"
                                                id="black-button" style="margin: .3rem;"
                                                th:onclick="'performMultiAction(' + ${transaction.id} + ', 'add_black');'">Add
                                                to black
                                            </button>
                                        </li>

                                        <hr style="margin: 0.4rem;">

                                        <li>
                                            <button class="btn-add" data-target="#approve_modal" data-toggle="modal"
                                                id="continue_payment_button" style="margin: .3rem"
                                                th:onclick="'performMultiAction(' + ${transaction.id} + ', \'con\');'">Continue
                                                payment
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn-reset" data-target="#approve_modal" data-toggle="modal"
                                                id="reverse_payment_button" style="margin: .3rem"
                                                th:onclick="'performMultiAction(' + ${transaction.id} + ', \'dec\');'">Decline
                                                payment
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="custom-pagination">
                <div class="mr-auto mb-3">
                    <span class="ml-3 pagination-info"
                        th:text="'Записи с ' + ${from_index} + ' до ' + ${to_index} + ' из ' + ${total_count} + ' записей'">
                        >
                        Записи с 1 до 20 из 25 записей
                    </span>
                </div>
                <ul class="pagination">
                    <li class="paginate_button" th:each="p , index :${left_pages}">
                        <a href="javascript:void(0)" th:text="${p}">2</a>
                    </li>
                    <li class="paginate_button active">
                        <a href="javascript:void(0)" th:text="${page}">
                            3
                        </a>
                    </li>
                    <li class="paginate_button" th:each="p , index :${right_pages}">
                        <a href="javascript:void(0)" th:text="${p}">2</a>
                    </li>
                </ul>
            </div>

            <div aria-hidden="true" class="modal fade info" id="approve_modal" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Are you sure to perform action ?</h4>
                        </div>
                        <div class="modal-footer">
                            <button class="btn-ready mb-0" onclick="performMultiAction(0, '')" type="button">OK</button>
                            <button class="btn-reset mb-0 mr-0" data-dismiss="modal" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="/plugins/popper/popper.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/select2/select2.min.js"></script>
    <script src="/plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/plugins/custom_js/main.js"></script>
    <script>
        var trnId = 0;
        var actionUrl = '';

        function performMultiAction(transactionId, currentUrl) {
            if (transactionId > 0) {
                trnId = transactionId;
                actionUrl = currentUrl;
            } else {
                var addData = {
                    "transaction_id": trnId
                }
                $.ajax({
                    url: actionUrl,
                    type: "GET",
                    data: addData,
                    beforeSend: function (xhr) {
                        $("#loading").attr("hidden", false);
                    },
                    success: function (response) {
                        location.reload();
                    },
                    error: function (request, status, error) {
                        $("#loading").attr("hidden", true);
                    }
                });
            }
        }

        function alertOnNotNumberInput(e) {
            if (isNaN(e.target.value)) {
                e.target.style.border = 'solid 1px #ff5722';
            } else {
                e.target.style.border = 'solid 1px #80bdff';
            }
        }

        function resetColorToDefault(e) {
            if (!isNaN(e.target.value)) {
                e.target.style.border = 'solid 1px #ced4da';
            }
        }
    </script>
</body>

</html>